.button-filter {
  height: 25px;
  border-radius: 4px;
  color: #282c34;
  margin: 10px;
  cursor: pointer;
  border: none;
}
.button-filter:hover {
  background-color: darkgreen;
  color: white;
  transform: scale(1.1);
}

.filtersContainer {
  margin-top: 20px;
}

.checkbox {
  z-index: 1;
}

.guestContainer {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  justify-content: center;
}
.input-first {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  width: 40%;
  border: none;
  text-align: end;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.input-last {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  width: 40%;
  border: none;
  text-align: start;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.remove-btn {
  height: 30px;
  border-radius: 4px;
  color: #282c34;
  margin: 10px;
  cursor: pointer;
  border: none;
}
.remove-btn:hover {
  background-color: lightcoral;
  color: white;
  transform: scale(1.1);
}

.names-container {
  width: 30%;
  display: flex;
  justify-content: end;
}

.edit-btn {
  background-color: blueviolet;
  height: 30px;
  border-radius: 4px;
  color: white;
  margin: 10px;
  cursor: pointer;
  border: none;
}
.edit-btn:hover {
  transform: scale(1.1);
}
